header{
    font-size: xx-large;
    background-color: grey;
    padding: 50px;
}

#submitButton {
    color: darkolivegreen;
    align-content: center;
}

#monthlyCosts{
    background-color: darkred;
}