header{
    font-size: xx-large;
    background-color: grey;
    padding: 50px;
}

#submitButton {
    color: darkolivegreen;
    align-content: center;
}

.monthlyCostsHigh{
    background-color: darkred;
}

.monthlyCostsLow{
    background-color: green;
}